<h2>Available Vehicles</h2>
<div>
	<div class="legend">
		<p>
			Pick up:
		</p>
		<p>
			{{model.PickUpLocation}} on {{model.PickUpDateTime | date : 'medium'}}
		</p>
	</div>
	<div class="legend">
		<p>
			Return:
		</p>
		<p>
			{{model.ReturnLocation}} on {{model.ReturnDateTime | date : 'medium'}}
		</p>
	</div>
</div>
<div class="filter">
	<input type="search" ng-change="filtered()" ng-model="search.MakeModel" placeholder="Search for a vehicle model" />
	<span class="info" title="The last user filter/sort will be stored and will become the initial value for the next access to the page">(i)</span>
	<ul class="sorting">
		<li ng-repeat="item in sortOptions"
			ng-class="{selected: orderBy.replace('-', '') == item.value, desc: orderBy[0] == '-'}"
			ng-click="sort(item.value)">{{item.label}}</li>
	</ul>
</div>

<ul class="vehicle-list">
	<li ng-repeat="car in filteredCars = (cars | filter : search : strict) | orderBy : orderBy" class="vehicle">
		<div class="vehicle-image-container">
			<img ng-src="{{car.PictureURL}}" alt="car picture">
		</div>
		<div class="vehicle-information-container">
			<ul>
				<li>{{car.MakeModel}}</li>
				<li>{{car.FuelType}}</li>
				<li ng-if="car.DriveType !== 'Unspecified'">{{car.DriveType}}</li>
				<li>{{car.PassengerQuantity}} passengers ({{car.DoorCount}} doors)</li>
			</ul>
		</div>
		<span class="vendor-name">{{car.VendorName}}</span>
		<span class="price">{{car.EstimatedTotalAmount}} {{car.CurrencyCode}}</span>
	</li>
</ul>
<p ng-hide="filteredCars.length || isLoading" class="no-result">No results for "{{search.MakeModel}}"</p>
<div class="loading-container"  ng-show="isLoading" arya-busy="true">
	<div class="loading-indicator"></div>
</div>
